apiVersion: apps/v1
kind: Deployment
metadata:
  name: okd-proxy-test-nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: proxy-nginx
  template:
    metadata:
      labels:
        app: proxy-nginx
    spec:
      containers:
      - name: nginx
        image: mirror.gcr.io/library/nginx:latest
        command: ["/bin/sh", "-c"]
      
        args: ["sed -i 's/listen  80;/listen  8080;/g' /etc/nginx/conf.d/default.conf && nginx -g 'daemon off;'"]
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: proxy-nginx-svc
spec:
  selector:
    app: proxy-nginx
  ports:
  - port: 80
    targetPort: 8080 # 컨테이너 내부의 8080으로 연결
