apiVersion: apps/v1
kind: Deployment
metadata:
  name: okd-proxy-test-nginx
  labels:
    app: proxy-nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: proxy-nginx
  template:
    metadata:
      labels:
        app: proxy-nginx
    spec:
      containers:
      - name: nginx
        image: mirror.gcr.io/library/nginx:latest
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: proxy-nginx-svc
spec:
  selector:
    app: proxy-nginx
  ports:
  - port: 80
    targetPort: 8080
